@model List<AnaOkuluVeKres.Areas.Teachers.Models.StudentViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ParentsLayout.cshtml";
    int sayac = 0;
}
<h1>Öğrencinin NOT Değerleri</h1>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Öğrenci Adı Soyadı</th>
            <th>Müzik Notu</th>
            <th>Yazılım Notu</th>
            <th>Dans Notu</th>
            <th>Spor Notu</th>
            <th>Alfabe Notu</th>
            <th>Matematik Notu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            sayac++;
                <tr>
                    <td>@sayac</td>
                    <td>@student.Name</td>
                    <td>@student.StudentStatusMusic</td>
                    <td>@student.StudentStatusDevelopment</td>
                    <td>@student.StudentStatusDance</td>
                    <td>@student.StudentStatusSport</td>
                    <td>@student.StudentStatusAlphabet</td>
                    <td>@student.StudentStatusMaths</td>
                </tr>
        }
    </tbody>
</table>

