@model List<Teacher>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Eğitmenlerimiz</h1>
<br />
@if (!Model.Any())
{
    <h4>Kayıtlı Öğretmeniniz Bulunmamaktadır.</h4>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kullanıcı Adı</th>
            <th>Adı Soyadı</th>
            <th>Branşı</th>
            <th>Durumu</th>
            <th>Sil</th>
            <th>Aktif Et</th>
            <th>Detay</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{sayac++;}
                <th>@sayac</th>
                <td>@item.TeacherUserName</td>
                <td>@item.TeacherNameSurname</td>
                <td>@item.TeacherBranch</td>
                <td>@item.TeacherStatus</td>
                <td>
                    <form method="post" asp-action="DeleteTeacher">
                        <input type="hidden" name="id" value="@item.TeacherId" />
                        <button type="submit" class="btn btn-outline-danger">Pasif Yap</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-action="ActiveTeacher">
                        <input type="hidden" name="id" value="@item.TeacherId" />
                        <button type="submit" class="btn btn-outline-success">Aktif Et</button>
                    </form>
                </td>
                <td><a href="#" class="btn btn-outline-info">Detay</a></td>
            </tr>
        }
    </table>
    <a href="/Admin/TeacherAdmin/AddTeacher" class="btn btn-outline-primary">Öğretmen Kayıt</a>
}
