@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>1.Hakkımda Kısmı</h1>
<hr />
@using (Html.BeginForm("Index", "AboutAdmin", FormMethod.Post))
{
    <h4>Hakkımda Başlığı: </h4>
    @Html.TextBoxFor(x=>x.AboutTitle,new {@class ="form-control"})
    <br />
    <h4>Açıklaması: </h4>
    @Html.TextAreaFor(x=>x.AboutDescription,5,4,new {@class ="form-control"})
    <br />
    <h4>1.Özellik: </h4>
    @Html.TextBoxFor(x=>x.AboutSubDescription1,new {@class ="form-control"})
    <br />
    <h4>2.Özellik: </h4>
    @Html.TextBoxFor(x=>x.AboutSubDescription2,new {@class ="form-control"})
    <br />
    <h4>3.Özellik: </h4>
    @Html.TextBoxFor(x=>x.AboutSubDescription3,new {@class ="form-control"})
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
}


